

body {
	text-align: center;
	}
	li {
		float: left;
		width: 50%;
		height: 96px;
		outline: 3px solid #222222;
		text-align: center;
		line-height: 96px;
	}
	nav {
	 color: #FFFFFF;
	 padding: 20px;
	 background-color: #00A6B3;
	 text-transform: uppercase;
	}
  
	div {
		font-size: 20px;
		width: 46%;
		padding: 2%;
		display: inline-block;
	}
	Main {
		width: 850px;
		margin: 35px auto;
		padding: 0 5%;
	}
	h1 {
		font-family: raleway, san-serif;
		color: #0D2C40;
		background-color: orangered;
		letter-spacing: 1px;
		font-weight: 400;
		font-size: 45px;
		margin: 0;
		padding:5%;
	}
	
	h2 {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	}
	h3 {
		font-family: "Raleway";
		color: #F15B31;
		letter-spacing: 1px;
		font-weight: 600;
		font-size: 18px;
		}

	p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
	}
	footer {
		padding: 0px 30px 0px 30px;
		background-color: #0D2C40;
		color: white;
		font-size: 14px;
		letter-spacing:  .08em;
		font-weight: 500;
		font: "Raleway", sans-serief;
	  }
	  a:hover {
		  border-bottom: 2px solid transparent;
		  text-decoration: none;
		  background-color: #F15B31;
	  }
	.copyright {
		float:left;
	}
	.message {
		float: right;
	}
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.name {
		color: #F15B31;
		font-weight: 700;
	}